


.div1 {
    height: 200px;
    width: 200px;
    background-color: green;
    position: relative;
    /*top: 200px;*/
    margin: 0 auto;
}

.div2 {
    height: 200px;
    width: 200px;
    background-color: red;
    /*z-index: 1;*/
}

.container {
    height: 300px;
    width: 300px;
    background-color: gray;
    position: relative;
}

.innerDiv {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    overflow: auto;
}

